@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 2.5rem;
}

html,body{
    overflow-x: hidden;
}

h2{
    font-size: 1.6rem;
}

p {
    font-size: 20px;
    line-height: 25px;
}

.text{
    margin-bottom: 15px;
}

.page{
    display: flex;
    flex-flow: column;
    padding: 0 clamp(1rem,6vw,10rem);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4.5px;
    bottom: -8px;
    left: 0;
    border-radius: 2px;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1000px){
    .underline:after{
        height: 4px;
        bottom: -7px;
    }
}

.underline:first-child:after{
    width:100%;
}

.underline:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}

a{
    text-decoration: none;
    color:black
}

button{
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    border-radius: 10rem;
    border: 3px solid black;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
    padding: 0.4rem 0.8rem;
}

button:hover{
    color: white;
    border-color: transparent;
    background-color: black;
    transition: 0.2s ease-in;
}

button:active{
    background-color: rgb(90, 90, 90);
    transition: 0s;
}

.navicons{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.title{
    font-size: clamp(2.1rem, 4vw, 3rem);
}

.nav{
    font-size: clamp(1.1rem, 2vw, 1.3em);
    padding-left: clamp(0.7rem, 1.5vw, 3rem);
}

.nav:first-child {
    padding-left: 0px;
}

.nav:last-child{
    display: none;
    visibility: hidden;
}

.resume{
    text-align: center;
}

.intro{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 105px);
    margin-bottom: 300px;
}

.intro .resume{
    display: none;
    visibility: hidden;
}

.socialbubs{
    padding-top: 10px;
}

.socialbubs button{
    font-size: 25px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0 20px 0 20px;
}

.explorenav{
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

@media screen and (max-height: 450px){
    .explorenav{
        display: none;
        visibility: hidden;
    }
}

.explorenav:hover{
    bottom: 27px;
    transition: 0.2s ease-in-out;
}

.explorenav a{
    display: flex;
    flex-flow: column;
    align-items: center;
}

a:active{
    color: gray;
    transition: 0s;
    font-size: 100%;
}

.intro h2{
    font-size: 50px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding-bottom: 125px;
}

.about img{
    max-width: 350px;
    clip-path: circle();
}

.abouttext{
    display: flex;
    flex-flow: column;
    margin-right: 50px;
    justify-self: flex-start;
    max-width: 60%;
}

.skills{
    display: none;
    visibility: hidden;
}

.abticons{
    display: flex;
    justify-content: space-between;
    max-width: 20%;
    list-style-type: none;

}

.abticons li{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 0 20px;
    width: 40px;
}

.abticons li:first-child{
    margin-left: 0;
}

 .skills h2{
    padding-top: 10px;
}

.portfolio{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.panel{
    width: 125px;
    height: 500px;
    border: transparent;
    border-radius: 60px;
    box-shadow: 0px 0px 7px rgb(155, 155, 155);
    margin: 0 7px 2% 7px;

}

.highlight{
    margin-left: 4px;
    width: 500px;
}

.grid{
    display: flex;
    flex-wrap: no-wrap;
    max-width: 100%;
    padding-top: 15px;
    justify-content: center;
}


.dashboard{
    padding: 1000px;
}

@media screen and (max-width: 1000px){
    .navbar{
        padding: 2rem 3.5rem;
    }
    
    .page{
        padding: 0 3.5rem;
    }
    
    h1{
        font-size: 2.5rem;
    }
    
    p{
        text-align: center;
    }
    .about{
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    .abouttext{
        align-items: center;
        margin: 0;
        max-width: 100%;
    }

    .about img{
        max-height: 250px;
        margin-top: 20px;
    }

    .wide{
        display: none;
        visibility: hidden;
    }

    .skills{
        display: flex;
        visibility: visible;
        flex-flow: column;
        align-items: center;
        margin-top: 25px;
    }

    .abticons{
        max-width: 100%;
        justify-content: center;
    }

    .abticons li:last-child{
        margin-right: 0;
    }

    .portfolio{
        flex-flow: column;
        align-items: center;
    }

    .grid{
        flex-flow: wrap;
        width: 100%;
    }

    .panel{
        width: 47%;
        height: 450px;
        border-radius: 50px;
        margin-bottom: 2%;
        box-shadow: 0 0 5px rgb(155, 155, 155);
    }
}

@media screen and (max-width: 720px) {
    p:not(.greet){
        font-size: 18px;
    }

    .navicons li:not(.button){
        display: none;
        visibility: hidden;
    }
    .resume:not(.narrow){
        display: none;
        visibility: hidden;
    }
    .nav:last-child{
        display: inline;
        visibility: visible;
    }
    .navbar{
        justify-content: space-between;
    }
    .button button{
        padding: 0.5rem 0.8rem;
    }

    .intro .resume{
        display: block;
        visibility: visible;
        margin-top: 15px;
        font-size: 22px;
    }

    .grid{
        flex-flow: column;
        align-items: center;
    }

    .panel{
        width: 425px;
        height: 80px;
        border-radius: 50px;
        margin-bottom: 10px;
        box-shadow: 0 0 5px rgb(155, 155, 155);
    }

    .highlight{
        height: 400px;
    }
    
}
